# patch
/developers/yxg/patch-analysis/*
!/developers/yxg/patch-analysis/history.org
!/developers/yxg/patch-analysis/reference.md
!/developers/yxg/patch-analysis/diff.txt
*.pyc
/developers/chy/chy_figs/*
